@media (max-width: 1200px){}
@media (max-width: 1025px){}
@media (max-width: 768px){
    .header-main {
        padding: 20px 0;
        display: none;
    }

    .mobile-header {
        display: block;
    }

    .mobile-center {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 576px){}
@media (max-width: 320px){}